/*For PC/Desktop*/
@media (min-width: 4px){
/* General body styling */
body {
    background-color: #FFEFC1;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-bottom: 20px;
    font-size: x-large;
    overflow-x: hidden;
    position: relative; /* Ensure body is relative for absolute positioning of back-to-top button */

}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.enlargeable {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.enlarged {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    cursor: zoom-out;
    object-fit: contain; /* Maintain aspect ratio */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center-align the gallery */
    padding: 20px; /* Add padding for spacing */
}

.TeamPhotos {
    width: 240px;
    height: 175px;
    object-fit: cover; /* Ensure images cover their container */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.enlargeable:hover {
    transform: scale(1.1); /* Add slight zoom on hover */
}

figcaption {
    margin-top: 10px;
    text-align: center;
}


/* Sidebar styling */
.sidebar-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 25;
    transition: margin-left 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    margin-left: -200px;
}

.sidebar {
    width: 150px;
    height: 100%;
    background-color: rgba(128, 0, 128, 0.521);
    padding: 20px;
    box-shadow: 0 0 10px hsla(60, 20%, 99%, 0.1);
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
    font-size:  2rem;
    text-align: center;
    color: white;
}

.tab {
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.tab.active {
    font-weight: bold;
    color: blue;
}

/* Content area styling */
.content {
    margin-left: calc(50%+100px); /*Adjust according to sidebar width */
    padding: 60px;
    margin-right: 20px;
    text-align: center;
}

.sponsor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px;
    font-size: medium;
}

.sponsor img {
    margin-right: 20px;
}

.sponsor .sponsor-info {
    flex: 1;
    margin: 10px;
}

.sponsor h4 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #333;
}

.sponsor p {
    margin-bottom: 0;
    font-size: medium;
    color: #666;
}

.sponsor.alternate {
    flex-direction: row; /* Reverse direction for alternate sponsors */
}

.sponsor.alternate img {
    margin-left: 0px;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: center; /* Center align the team member containers */
}

.team-member img {
    max-width: 150px;
    margin-right: 20px;
}

.team-member .member-info {
    flex: 1;
    text-align: center; /* Center align the text */
}

.team-member.alternate {
    flex-direction: row-reverse;
}

.team-member.alternate img {
    margin-left: 20px;
}

.team-member h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #333;
}

.team-member p {
    margin-bottom: 0;
    font-size: 1rem;
    color: #666;
}

#MembersTab {
    position: relative;
    text-align: center; /* Center align the MembersTab content */
    left: 40%;
}

#ContactTab{
    position: relative;
    text-align: center;
    left: 40%;
}

.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 3;
}

.MoneyBreakdown{
    position: relative;
    font-size: medium;
    font-style:italic;
    bottom:2%;
}

.team-logo{
    position: fixed;
    top: 25px;
    left: 90%;
    cursor: pointer;
    z-index: 3;
}
.team-logo img:hover {
    filter: brightness(50%);
}

.Sponsor-levels {
    font-size: xx-large;
}

.back-to-top {
    position: fixed;
    bottom: 15%;
    right: 20px;
    cursor: pointer;
    z-index: 25;
    background-color: #007bff;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    display: none; /* Initially hidden */
}
.tooltip {
    position: absolute;
    top: 50%;
    left: calc(50% - 400px); 
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 30px;
    display: none; /* Initially hidden */
    z-index: 1;
}

#thermometer:hover .tooltip {
    display: block; /* Show on hover */
}

.back-to-top:hover{
    background-color: #001aff;
}

.back-to-top.show {
    display: block; /* Show when scrolled down */
}

/* Thermometer styling */
#thermometer {
    margin: 20px auto; /* Adjust margin as needed */
    width: 40px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    position: relative;
    border: 2px solid rgb(143, 137, 137);
    /* overflow: hidden; */
    z-index: 3;
    border-radius: 50px 50px 0 0; /* Rounded corners for the bulb */
    background-color: #ccc;
}
#thermometer:hover{
    filter: brightness(50%);
}

#progress {
    width: 40px;
    height: 38%;
    background: linear-gradient(to top, #b10505, #fc4c4c); /* Progress bar color */
    position: absolute;
    border-radius: 50px 50px 0 0 ; /* Rounded top corners */
    margin:20px auto;
    top: 55%;
    z-index: 1;
}

.graduation {
    position: absolute;
    top: calc(100% - var(--graduation-position));
    left: 60px; /* Adjust the distance from the thermometer */
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    z-index: 2;
}

#graduation-100 {
    top: calc(0%);
}

#graduation-75 {
    top: calc(100% - 75%);
}

#graduation-50 {
    top: calc(100% - 50%);
}

#graduation-25 {
    top: calc(100% - 25%);
}

#progress.show {
    transform: scaleY(1); /* Scale to full height based on percentage */
}

#bulb {
    width: 70px; /* Adjust size of bulb */
    height: 70px; /* Adjust size of bulb */
    background-color: #b10505; /* Color of the bulb */
    border: 3px solid rgb(143, 137, 137);
    position: absolute;
    bottom: 10%;
    left: 50%; /* Position the bulb at the bottom center */
    transform: translateX(-50%) translateY(100%); /* Center the bulb */
    border-radius: 50%; /* Make the bulb circular */
    z-index: 1;
}

/* Percentage text styling */
#progress-percent {
    font-size: 1.2rem;
    font-weight: bold;
}

.photo-gallery figure {
    margin: 0; /* Remove default margins */
    text-align: center; /* Center-align the content */
}

.photo-gallery img {
    width: 240px; /* Ensure images don't exceed their container */
    height: 175px; /* Maintain aspect ratio */
}

.photo-gallery figcaption {
    margin-top: 10px; /* Add space between image and caption */
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(128, 0, 128, 0.521);
    color: #fff;
    text-align: center;
    z-index: 20;
    display: flex;
    align-items: center;
    left: 0%;
    justify-content: center;
    margin-top: 10px; /* Adjust as needed to create space between content and footer */
}

.footer-content {
    padding: 0px;
    display: flex;
    align-items: center;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Center vertically with image */
}
footer img{
    margin: 0 10px;
}

footer nav ul li {
    margin-top: 0;
    margin-right: 15px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.SocialLogos{
    height: 20px;
    width: 20px;
    position: relative;
}
}


/* For Tablets */
@media (min-width: 2px) and (max-width: 3px) {
body {
background-color: #FFEFC1;
font-family: 'Times New Roman', Times, serif;
display: flex;
justify-content: center;
height: 100vh;
padding-bottom: 20px;
font-size: large;
overflow-x: hidden;
position: relative;
}

.image-container {
display: flex;
flex-wrap: wrap;
}

.enlargeable {
max-width: 100%;
height: auto;
transition: transform 0.2s ease-in-out;
cursor: pointer;
}

.enlarged {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 999;
cursor: zoom-out;
object-fit: contain;
background-color: rgba(0, 0, 0, 0.8);
}

.photo-gallery {
display: flex;
flex-wrap: wrap;
gap: 15px;
justify-content: center;
padding: 15px;
}

.TeamPhotos {
width: 180px;
height: 130px;
object-fit: cover;
cursor: pointer;
transition: transform 0.2s ease-in-out;
}

.enlargeable:hover {
transform: scale(1.1);
}

figcaption {
margin-top: 10px;
text-align: center;
}

.sidebar-container {
position: fixed;
left: 0;
top: 0;
height: 100%;
z-index: 1;
transition: margin-left 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
margin-left: -200px;
}

.sidebar {
width: 150px;
height: 100%;
background-color: rgba(128, 0, 128, 0.521);
padding: 20px;
box-shadow: 0 0 10px hsla(60, 20%, 99%, 0.1);
display: flex;
flex-direction: column;
}

.sidebar h2 {
margin-top: 0;
font-size: 1.8rem;
text-align: center;
color: white;
}

.tab {
margin-bottom: 10px;
cursor: pointer;
color: white;
font-size: 1.3rem;
text-align: center;
}

.tab.active {
font-weight: bold;
color: blue;
}

.content {
left: 50%;
margin-left: calc(50% + 75px);
padding: 15px;
margin-right: 15px;
text-align: center;
}

.sponsor {
display: flex;
align-items: center;
margin-bottom: 15px;
padding: 10px;
font-size: medium;
}

.sponsor img {
margin-right: 15px;
}

.sponsor .sponsor-info {
flex: 1;
margin: 75px;
}

.sponsor h4 {
margin-top: 0;
font-size: 1rem;
color: #333;
}

.sponsor p {
margin-bottom: 0;
font-size: small;
color: #666;
}

.sponsor.alternate {
flex-direction: row;
}

.sponsor.alternate img {
margin-left: 0px;
}

.team-member {
left: 50%;
display: flex;
align-items: center;
margin-bottom: 15px;
padding: 10px;
}

.team-member img {
max-width: 120px;
margin-right: 15px;
}

.team-member .member-info {
flex: 1;
}

.team-member.alternate {
flex-direction: row-reverse;
}

.team-member.alternate img {
margin-left: 15px;
}

.team-member h3 {
left: 50%;
margin-top: 0;
font-size: 1rem;
color: #333;
}

.team-member p {
left: 50%;
margin-bottom: 0;
font-size: 0.9rem;
color: #666;
}

#MembersTab {
position: relative;
left: calc(50% - 120px);
}

#ContactTab {
position: relative;
left: calc(50% - 90px);
}

.menu-button {
position: fixed;
top: 20px;
left: 20px;
cursor: pointer;
z-index: 3;
}

.MoneyBreakdown {
position: relative;
font-size: small;
font-style: italic;
bottom: 2%;
}

.team-logo {
position: fixed;
top: 25px;
left: 90%;
cursor: pointer;
z-index: 3;
}

.team-logo img:hover {
filter: brightness(50%);
}

.Sponsor-levels {
font-size: x-large;
}

.back-to-top {
position: fixed;
bottom: 15%;
right: 20px;
cursor: pointer;
z-index: 25;
background-color: #007bff;
color: white;
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
line-height: 40px;
font-size: 1.5rem;
display: none;
}

.tooltip {
position: absolute;
top: 50%;
left: calc(50% - 200px);
background-color: transparent;
color: white;
padding: 5px 10px;
border-radius: 5px;
font-size: 20px;
display: none;
z-index: 1;
}

#thermometer:hover .tooltip {
display: block;
}

.back-to-top:hover {
background-color: #001aff;
}

.back-to-top.show {
display: block;
}

#thermometer {
margin: 20px auto;
width: 40px;
height: 300px;
position: relative;
border: 2px solid rgb(143, 137, 137);
z-index: 3;
border-radius: 50px 50px 0 0;
background-color: #ccc;
}

#thermometer:hover {
filter: brightness(50%);
}

#progress {
width: 40px;
height: 38%;
background: linear-gradient(to top, #b10505, #fc4c4c);
position: absolute;
border-radius: 50px 50px 0 0;
margin: 20px auto;
top: 55%;
z-index: 1;
}

.graduation {
position: absolute;
top: calc(100% - var(--graduation-position));
left: 60px;
transform: translateY(-50%);
font-size: 1rem;
font-weight: bold;
color: #555;
z-index: 2;
}

#graduation-100 {
top: calc(0%);
}

#graduation-75 {
top: calc(100% - 75%);
}

#graduation-50 {
top: calc(100% - 50%);
}

#graduation-25 {
top: calc(100% - 25%);
}

#progress.show {
transform: scaleY(1);
}

#bulb {
width: 70px;
height: 70px;
background-color: #b10505;
border: 3px solid rgb(143, 137, 137);
position: absolute;
bottom: 10%;
left: 50%;
transform: translateX(-50%) translateY(100%);
border-radius: 50%;
z-index: 1;
}

#progress-percent {
font-size: 1rem;
font-weight: bold;
}

.photo-gallery figure {
margin: 0;
text-align: center;
}

.photo-gallery img {
width: 180px;
height: 130px;
}

.photo-gallery figcaption {
margin-top: 10px;
}

footer {
position: relative;
bottom: 0;
width: 100%;
background-color: rgba(128, 0, 128, 0.521);
color: #fff;
text-align: center;
z-index: 999;
display: flex;
align-items: center;
left: 0%;
justify-content: center;
margin-top: 10px;
}

.footer-content {
padding: 0px;
display: flex;
align-items: center;
}

footer nav ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;
}

footer img {
margin: 0 10px;
}

footer nav ul li {
margin-top: 0;
margin-right: 15px;
}

footer nav ul li a {
color: #fff;
text-decoration: none;
}

footer nav ul li:hover {
text-decoration: underline;
cursor: pointer;
}

.SocialLogos{
position: relative;
height: 20px;
width: 20px;
}

.thoth{
background-color: #001aff;
left: 50px;
height: 50%;
width: 50%;
}
}

/* For Cell Phones */
@media (max-width: 767px) {
body {
background-color: #FFEFC1;
font-family: 'Times New Roman', Times, serif;
display: flex;
justify-content: center;
height: 100vh;
padding-bottom: 20px;
font-size: medium;
overflow-x: hidden;
position: relative;
}

.image-container {
display: flex;
flex-wrap: wrap;
}

.enlargeable {
max-width: 100%;
height: auto;
transition: transform 0.2s ease-in-out;
cursor: pointer;
}

.enlarged {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 999;
cursor: zoom-out;
object-fit: contain;
background-color: rgba(0, 0, 0, 0.8);
}

.photo-gallery {
display: flex;
flex-wrap: wrap;
gap: 10px;
justify-content: center;
padding: 10px;
}

.TeamPhotos {
width: 120px;
height: 90px;
object-fit: cover;
cursor: pointer;
transition: transform 0.2s ease-in-out;
}

.enlargeable:hover {
transform: scale(1.1);
}

figcaption {
margin-top: 10px;
text-align: center;
}

.sidebar-container {
position: fixed;
left: 0;
top: 0;
height: 100%;
z-index: 35;
transition: margin-left 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
margin-left: -200px;
}

.sidebar {
width: 150px;
height: 100%;
background-color: rgba(128, 0, 128, 0.521);
padding: 20px;
box-shadow: 0 0 10px hsla(60, 20%, 99%, 0.1);
display: flex;
flex-direction: column;
}

.sidebar h2 {
margin-top: 0;
font-size: 1.6rem;
text-align: center;
color: white;
}

.tab {
margin-bottom: 10px;
cursor: pointer;
color: white;
font-size: 1.2rem;
text-align: center;
}

.tab.active {
font-weight: bold;
color: blue;
}

.content {
margin-left: 20px;
padding: 10px;
margin-right: 10px;
text-align: center;
}

.sponsor {
display: flex;
align-items: center;
margin-bottom: 10px;
padding: 10px;
font-size: medium;
}

.sponsor img {
margin-right: 10px;
}

.sponsor .sponsor-info {
flex: 1;
margin: 50px;
}

.sponsor h4 {
margin-top: 0;
font-size: 0.9rem;
color: #333;
}

.sponsor p {
margin-bottom: 0;
font-size: small;
color: #666;
}

.sponsor.alternate {
flex-direction: row;
}

.sponsor.alternate img {
margin-left: 0px;
}

.team-member {
left: 50%;
display: flex;
align-items: center;
margin-bottom: 10px;
padding: 10px;
}

.team-member img {
max-width: 100px;
margin-right: 10px;
}

.team-member .member-info {
flex: 1;
}

.team-member.alternate {
flex-direction: row-reverse;
}

.team-member.alternate img {
margin-left: 10px;
}

.team-member h3 {
left: 50%;
margin-top: 0;
font-size: 0.9rem;
color: #333;
}

.team-member p {
left: 50%;
margin-bottom: 0;
font-size: 0.8rem;
color: #666;
}

#MembersTab {
position: relative;
left: calc(50% - 80px);
}

#ContactTab {
position: relative;
left: calc(50% - 70px);
}

.menu-button {
position: fixed;
top: 20px;
left: 20px;
cursor: pointer;
z-index: 3;
}

.MoneyBreakdown {
position: relative;
font-size: small;
font-style: italic;
bottom: 2%;
}

.team-logo {
position: fixed;
top: 25px;
left: 80%;
cursor: pointer;
z-index: 3;
}

.team-logo img:hover {
filter: brightness(50%);
}

.Sponsor-levels {
font-size: large;
}

.back-to-top {
position: fixed;
bottom: 15%;
right: 20px;
cursor: pointer;
z-index: 2;
background-color: #007bff;
color: white;
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
line-height: 40px;
font-size: 1.5rem;
display: none;
}

.tooltip {
position: absolute;
top: 50%;
left: calc(50% - 100px);
background-color: transparent;
color: white;
padding: 5px 10px;
border-radius: 5px;
font-size: 15px;
display: none;
z-index: 1;
}

#thermometer:hover .tooltip {
display: block;
}

.back-to-top:hover {
background-color: #001aff;
}

.back-to-top.show {
display: block;
}

#thermometer {
margin: 20px auto;
width: 40px;
height: 300px;
position: relative;
border: 2px solid rgb(143, 137, 137);
z-index: 3;
border-radius: 50px 50px 0 0;
background-color: #ccc;
}

#thermometer:hover {
filter: brightness(50%);
}

#progress {
width: 40px;
height: 38%;
background: linear-gradient(to top, #b10505, #fc4c4c);
position: absolute;
border-radius: 50px 50px 0 0;
margin: 20px auto;
top: 55%;
z-index: 1;
}

.graduation {
position: absolute;
top: calc(100% - var(--graduation-position));
left: 60px;
transform: translateY(-50%);
font-size: 1rem;
font-weight: bold;
color: #555;
z-index: 2;
}

#graduation-100 {
top: calc(0%);
}

#graduation-75 {
top: calc(100% - 75%);
}

#graduation-50 {
top: calc(100% - 50%);
}

#graduation-25 {
top: calc(100% - 25%);
}

#progress.show {
transform: scaleY(1);
}

#bulb {
width: 70px;
height: 70px;
background-color: #b10505;
border: 3px solid rgb(143, 137, 137);
position: absolute;
bottom: 10%;
left: 50%;
transform: translateX(-50%) translateY(100%);
border-radius: 50%;
z-index: 1;
}

#progress-percent {
font-size: 1rem;
font-weight: bold;
}

.photo-gallery figure {
margin: 0;
text-align: center;
}

.photo-gallery img {
width: 120px;
height: 90px;
}

.photo-gallery figcaption {
margin-top: 10px;
}

footer {
position: relative;
bottom: 0;
width: 100%;
background-color: rgba(128, 0, 128, 0.521);
color: #fff;
text-align: center;
z-index: 999;
display: flex;
align-items: center;
left: 0%;
justify-content: center;
margin-top: 10px;
}

.footer-content {
padding: 0px;
display: flex;
align-items: center;
}

footer nav ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;
}

footer img {
margin: 0 10px;
}

footer nav ul li {
margin-top: 0;
margin-right: 15px;
}

footer nav ul li a {
color: #fff;
text-decoration: none;
}

footer nav ul li:hover {
text-decoration: underline;
cursor: pointer;
}

.SocialLogos{
position: relative;
height: 20px;
width: 20px;
}
}
